stack/nodered/flows.json
[
  {
    "id": "tab_poc_base_pg",
    "type": "tab",
    "label": "PoC MQTT → PostgreSQL + Dashboard",
    "disabled": false,
    "info": "Ingest Zigbee2MQTT + ChirpStack events, normalize, upsert the device registry, insert telemetry into Postgres, and drive a FlowFuse Dashboard histogram + control buttons."
  },
  {
    "id": "bkr_mqtt_pg",
    "type": "mqtt-broker",
    "name": "Mosquitto (edit me)",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered-poc-pg",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "sessionExpiry": "",
    "user": "admin",
    "password": "CHANGE_ME"
  },
  {
    "id": "pg_cfg_1",
    "type": "postgreSQLConfig",
    "name": "postgres (edit me)",
    "host": "postgres",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "poc_nodered",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "nodered",
    "userFieldType": "str",
    "password": "CHANGE_ME",
    "passwordFieldType": "str"
  },
  {
    "id": "ui_base_poc",
    "type": "ui-base",
    "name": "PoC Dashboard",
    "theme": "ui_theme_poc",
    "site": ""
  },
  {
    "id": "ui_page_poc",
    "type": "ui-page",
    "name": "PoC",
    "ui": "ui_base_poc",
    "path": "/ui/poc",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "ui_group_activity",
    "type": "ui-group",
    "name": "Activity",
    "page": "ui_page_poc",
    "order": 1,
    "width": 12,
    "collapse": false
  },
  {
    "id": "ui_group_controls",
    "type": "ui-group",
    "name": "Controls",
    "page": "ui_page_poc",
    "order": 2,
    "width": 12,
    "collapse": false
  },
  {
    "id": "ui_theme_poc",
    "type": "ui-theme",
    "name": "PoC Theme",
    "theme": "light",
    "sizes": {
      "density": "default",
      "spacing": "default",
      "corner": "default"
    }
  },
  {
    "id": "inj_init_schema",
    "type": "inject",
    "z": "tab_poc_base_pg",
    "name": "Init DB schema (run once)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 190,
    "y": 80,
    "wires": [
      [
        "pg_init_schema"
      ]
    ]
  },
  {
    "id": "pg_init_schema",
    "type": "postgresql",
    "z": "tab_poc_base_pg",
    "name": "Create tables (idempotent)",
    "query": "CREATE SCHEMA IF NOT EXISTS poc;\n\nCREATE TABLE IF NOT EXISTS poc.devices (\n  id BIGSERIAL PRIMARY KEY,\n  network TEXT NOT NULL CHECK (network IN ('zigbee','lorawan')),\n  external_id TEXT NOT NULL,\n  display_name TEXT,\n  meta JSONB DEFAULT '{}'::jsonb,\n  first_seen_at TIMESTAMPTZ DEFAULT now(),\n  last_seen_at TIMESTAMPTZ\n);\n\nCREATE UNIQUE INDEX IF NOT EXISTS devices_unique ON poc.devices(network, external_id);\n\nCREATE TABLE IF NOT EXISTS poc.telemetry (\n  id BIGSERIAL PRIMARY KEY,\n  device_id BIGINT REFERENCES poc.devices(id) ON DELETE CASCADE,\n  ts TIMESTAMPTZ NOT NULL DEFAULT now(),\n  metrics JSONB NOT NULL DEFAULT '{}'::jsonb,\n  raw JSONB NOT NULL DEFAULT '{}'::jsonb,\n  source_topic TEXT\n);\n\nCREATE INDEX IF NOT EXISTS telemetry_device_ts_idx ON poc.telemetry(device_id, ts DESC);\n\nCREATE TABLE IF NOT EXISTS poc.commands (\n  id BIGSERIAL PRIMARY KEY,\n  network TEXT NOT NULL CHECK (network IN ('zigbee','lorawan')),\n  device_id BIGINT REFERENCES poc.devices(id) ON DELETE SET NULL,\n  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),\n  command JSONB NOT NULL DEFAULT '{}'::jsonb,\n  status TEXT NOT NULL DEFAULT 'queued' CHECK (status IN ('queued','transmitted','confirmed','observed','failed')),\n  status_detail TEXT\n);\n\nCREATE OR REPLACE VIEW poc.latest_telemetry AS\nSELECT DISTINCT ON (device_id)\n  device_id,\n  ts,\n  metrics,\n  raw,\n  source_topic\nFROM poc.telemetry\nORDER BY device_id, ts DESC;\n",
    "postgreSQLConfig": "pg_cfg_1",
    "split": false,
    "rowsPerMsg": "10",
    "outputs": 1,
    "x": 520,
    "y": 80,
    "wires": [
      [
        "dbg_init"
      ]
    ]
  },
  {
    "id": "dbg_init",
    "type": "debug",
    "z": "tab_poc_base_pg",
    "name": "DB init result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "pgsql.command",
    "statusType": "msg",
    "x": 770,
    "y": 80,
    "wires": []
  },
  {
    "id": "mqtt_in_z_pg",
    "type": "mqtt in",
    "z": "tab_poc_base_pg",
    "name": "MQTT In (Zigbee2MQTT)",
    "topic": "zigbee2mqtt/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkr_mqtt_pg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 180,
    "wires": [
      [
        "json_z_pg"
      ]
    ]
  },
  {
    "id": "mqtt_in_l_pg",
    "type": "mqtt in",
    "z": "tab_poc_base_pg",
    "name": "MQTT In (ChirpStack events)",
    "topic": "application/+/device/+/event/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "bkr_mqtt_pg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 240,
    "wires": [
      [
        "json_l_pg"
      ]
    ]
  },
  {
    "id": "json_z_pg",
    "type": "json",
    "z": "tab_poc_base_pg",
    "name": "JSON parse (Zigbee)",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 180,
    "wires": [
      [
        "fn_norm_pg"
      ]
    ]
  },
  {
    "id": "json_l_pg",
    "type": "json",
    "z": "tab_poc_base_pg",
    "name": "JSON parse (LoRa)",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 430,
    "y": 240,
    "wires": [
      [
        "fn_norm_pg"
      ]
    ]
  },
  {
    "id": "fn_norm_pg",
    "type": "function",
    "z": "tab_poc_base_pg",
    "name": "Normalize → msg.poc (envelope)",
    "func": "function isoNow() { return new Date().toISOString(); }\nfunction asIso(value) {\n  if (!value) return isoNow();\n  const parsed = Date.parse(value);\n  return Number.isNaN(parsed) ? isoNow() : new Date(parsed).toISOString();\n}\n\nconst topic = msg.topic || '';\nconst payload = (typeof msg.payload === 'object' && msg.payload) ? msg.payload : { raw: msg.payload };\nlet out = {\n  source: 'unknown',\n  deviceId: 'unknown',\n  eventType: 'unknown',\n  ts: isoNow(),\n  topic,\n  metrics: {},\n  raw: payload\n};\n\nif (topic.startsWith('zigbee2mqtt/')) {\n  const parts = topic.split('/');\n  if (parts.length >= 2 && parts[1] !== 'bridge') {\n    out.source = 'zigbee';\n    out.deviceId = parts[1];\n    out.eventType = 'state';\n    out.metrics = payload;\n    out.ts = asIso(payload.last_seen);\n  }\n}\n\nif (topic.startsWith('application/')) {\n  const parts = topic.split('/');\n  if (parts.length >= 6 && parts[2] === 'device' && parts[4] === 'event') {\n    out.source = 'lorawan';\n    out.deviceId = parts[3];\n    out.eventType = parts[5];\n    out.metrics = payload;\n    out.ts = asIso(payload.time);\n  }\n}\n\nmsg.poc = out;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 210,
    "wires": [
      [
        "fn_upsert_device",
        "fn_histogram"
      ]
    ]
  },
  {
    "id": "fn_histogram",
    "type": "function",
    "z": "tab_poc_base_pg",
    "name": "Update activity histogram",
    "func": "const now = Date.now();\nconst bucketMs = 60 * 1000;\nconst windowMinutes = 60;\nconst windowMs = windowMinutes * bucketMs;\n\nconst bucketKey = Math.floor(now / bucketMs) * bucketMs;\nconst buckets = flow.get('poc_hist') || {};\n\nbuckets[bucketKey] = (buckets[bucketKey] || 0) + 1;\n\nObject.keys(buckets).forEach((key) => {\n  if (now - Number(key) > windowMs) {\n    delete buckets[key];\n  }\n});\n\nconst keys = Object.keys(buckets)\n  .map(Number)\n  .sort((a, b) => a - b);\n\nconst labels = keys.map((ts) => new Date(ts).toISOString().slice(11, 16));\nconst data = keys.map((ts) => buckets[ts]);\n\nflow.set('poc_hist', buckets);\n\nmsg.payload = [\n  { series: ['events'], data: [data], labels }\n];\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 280,
    "wires": [
      [
        "ui_chart_activity"
      ]
    ]
  },
  {
    "id": "fn_upsert_device",
    "type": "function",
    "z": "tab_poc_base_pg",
    "name": "Build UPSERT (poc.devices)",
    "func": "const p = msg.poc;\nmsg.query = `\n  INSERT INTO poc.devices (network, external_id, display_name, meta, first_seen_at, last_seen_at)\n  VALUES ($1, $2, $3, $4::jsonb, now(), $5)\n  ON CONFLICT (network, external_id)\n  DO UPDATE SET last_seen_at = EXCLUDED.last_seen_at,\n                meta = poc.devices.meta || EXCLUDED.meta;\n`;\nconst meta = {\n  last_topic: p.topic,\n  last_event_type: p.eventType,\n  last_keys: Object.keys(p.metrics || {})\n};\nmsg.params = [p.source, p.deviceId, p.deviceId, JSON.stringify(meta), p.ts];\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 210,
    "wires": [
      [
        "pg_upsert_device"
      ]
    ]
  },
  {
    "id": "pg_upsert_device",
    "type": "postgresql",
    "z": "tab_poc_base_pg",
    "name": "UPSERT poc.devices",
    "query": "",
    "postgreSQLConfig": "pg_cfg_1",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 1250,
    "y": 210,
    "wires": [
      [
        "fn_insert_event"
      ]
    ]
  },
  {
    "id": "fn_insert_event",
    "type": "function",
    "z": "tab_poc_base_pg",
    "name": "Build INSERT (poc.telemetry)",
    "func": "const p = msg.poc;\nmsg.query = `\n  INSERT INTO poc.telemetry (device_id, ts, metrics, raw, source_topic)\n  SELECT id, $1, $2::jsonb, $3::jsonb, $4\n  FROM poc.devices\n  WHERE network = $5 AND external_id = $6;\n`;\nmsg.params = [p.ts, JSON.stringify(p.metrics || {}), JSON.stringify(p.raw || {}), p.topic, p.source, p.deviceId];\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1540,
    "y": 210,
    "wires": [
      [
        "pg_insert_event",
        "dbg_norm_pg"
      ]
    ]
  },
  {
    "id": "pg_insert_event",
    "type": "postgresql",
    "z": "tab_poc_base_pg",
    "name": "INSERT poc.telemetry",
    "query": "",
    "postgreSQLConfig": "pg_cfg_1",
    "split": false,
    "rowsPerMsg": "1",
    "outputs": 1,
    "x": 1800,
    "y": 210,
    "wires": [
      [
        "dbg_pg_insert"
      ]
    ]
  },
  {
    "id": "dbg_pg_insert",
    "type": "debug",
    "z": "tab_poc_base_pg",
    "name": "DB insert result",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "pgsql.command",
    "statusType": "msg",
    "x": 2000,
    "y": 210,
    "wires": []
  },
  {
    "id": "dbg_norm_pg",
    "type": "debug",
    "z": "tab_poc_base_pg",
    "name": "Debug (envelope)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "poc",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1790,
    "y": 270,
    "wires": []
  },
  {
    "id": "ui_chart_activity",
    "type": "ui-chart",
    "z": "tab_poc_base_pg",
    "name": "Activity histogram",
    "group": "ui_group_activity",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "Activity per minute (last hour)",
    "chartType": "bar",
    "legend": "false",
    "x": 1240,
    "y": 280,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "ui_btn_z_on",
    "type": "ui-button",
    "z": "tab_poc_base_pg",
    "name": "Zigbee plug ON (example)",
    "group": "ui_group_controls",
    "order": 1,
    "width": 6,
    "height": 1,
    "label": "Zigbee plug ON (example)",
    "tooltip": "",
    "color": "#1f4b99",
    "bgcolor": "#dce6f8",
    "icon": "power",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 220,
    "y": 440,
    "wires": [
      [
        "fn_cmd_z_on"
      ]
    ]
  },
  {
    "id": "fn_cmd_z_on",
    "type": "function",
    "z": "tab_poc_base_pg",
    "name": "Build Zigbee ON command",
    "func": "msg.topic = 'zigbee2mqtt/z_plug_nous_a1z/set';\nmsg.payload = { state: 'ON' };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 440,
    "wires": [
      [
        "mqtt_out_cmd_pg"
      ]
    ]
  },
  {
    "id": "ui_btn_l_on",
    "type": "ui-button",
    "z": "tab_poc_base_pg",
    "name": "LoRa relay ON (example)",
    "group": "ui_group_controls",
    "order": 2,
    "width": 6,
    "height": 1,
    "label": "LoRa relay ON (example)",
    "tooltip": "",
    "color": "#1f4b99",
    "bgcolor": "#dce6f8",
    "icon": "power",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 220,
    "y": 500,
    "wires": [
      [
        "fn_cmd_l_on"
      ]
    ]
  },
  {
    "id": "fn_cmd_l_on",
    "type": "function",
    "z": "tab_poc_base_pg",
    "name": "Build LoRa ON command",
    "func": "msg.topic = 'application/1/device/a1a2a3a4a5a6a7a8/command/down';\nmsg.payload = { fPort: 85, confirmed: true, data: 'AQ==' };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 500,
    "wires": [
      [
        "mqtt_out_cmd_pg"
      ]
    ]
  },
  {
    "id": "mqtt_out_cmd_pg",
    "type": "mqtt out",
    "z": "tab_poc_base_pg",
    "name": "MQTT Out (commands)",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "bkr_mqtt_pg",
    "x": 840,
    "y": 470,
    "wires": []
  }
]
